.app-container {
	min-height: 100vh;
	padding: 15px 25px;
}
.create-field {
	width: 100%;
	height: 44px;
	border-radius: 7px;
	background-color: white;
	border: none;
	outline: none;
	box-shadow: 1px 1px 1px 2px grey;
	font-size: 19px;
	padding: 5px 15px;
	margin-bottom: 25px;
}
.submit-btn {
	background-color: #4682b4;
	color: white;
	width: 100%;
	height: 42px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}
.submit-btn:hover {
	background-color: #0437f2;
	height: 46px;
}
.heading {
	color: #4682b4;
	font-weight: 800;
	text-decoration: underline;
}
input[type="checkbox"] {
	display: none;
}
.todo-items-container {
	padding: 0 0;
}
.each-todo {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	gap: 20px;
	background-color: #add8e6;
	padding: 15px 5px;
	margin-bottom: 25px;
	border-radius: 9px;
}
.each-todo-content-container {
	width: 82%;
	display: flex;
}
.each-todo-content-input {
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent !important;
	font-size: 22px;
	font-weight: 800;
}
.checkbox-replacement {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 999px;
	border: 2px solid black;
	box-shadow: black;
	cursor: pointer;
}

.checkbox-replacement::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: black;
	box-shadow: black;
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}
input:checked ~ .checkbox-replacement::after {
	width: 15px;
	height: 15px;
	opacity: 1;
}
.each-todo.done .each-todo-content-container input {
	text-decoration: line-through;
	color: grey;
}
.each-todo .each-todo-content-container input {
	color: black;
	text-decoration: none;
}
.actions {
	display: flex;
	align-items: center;
	gap: 15px;
}
.edit-btn {
	width: 100px;
	height: 35px;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 9px;
	box-shadow: 1px 2px 1px 1px #0437f2;
	font-weight: 800;
	font-size: 17px;
	background-color: #191970;
}
.delete-btn {
	background-color: #d22b2b;
	color: white;
	width: 100px;
	height: 35px;
	cursor: pointer;
	border: none;
	border-radius: 9px;
	box-shadow: 1px 2px 1px 1px #0437f2;
	font-weight: 800;
	font-size: 17px;
}
.edit-btn:hover,
.delete-btn:hover {
	height: 40px;
	box-shadow: 1px 1px 1px 1px black;
}
